*{
    margin: 0;
    padding: 0;
}
header{
    margin-bottom: 20px;
}
.container{
    width: 100%;
    height: 100%;
    background: white;
    display: block;
    flex-direction: row;
    margin-left: 80px;
}
.tab{
    background-color: white;
}
.tab th{
    width: 180px;
    background-color: orangered;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-transform: uppercase;
}
.tab td{
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-left: 20px;
    border: 1px solid gray;
}
.container table button{
    border-color: blue ;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 15px;
    margin-left:255px;
    width: 100px;
}
