table{
    margin-left: 20px;
    margin-top: 1%;
    text-align: center;
    font-size: small;
    border-spacing: 1;
}
th{
    background-color: green;
    color: aliceblue;
}
th, td{
    text-transform: uppercase;
    border: 1px solid black;
    padding: 10px 20px;
}
td{
    background-color: azure;
}