*{
    margin: 0;
    padding: 0;
}
header{
    margin-bottom: 20px;
}
.container{
    width: 100%;
    height: 100%;
    background: white;
    display: block;
    flex-direction: row;
    margin-left: 150px;
}
.tab{
    background-color: white;
}
.tab th{
    background-color: orangered;
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.tab td{
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-left: 20px;
}
.container table{
    margin-top: 20px;
    
}
.container table button{
    border-color: blue ;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 15px;
    margin-left:180px;
    width: 100px;
}
